html {
  font-family: Helvetica;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  color: white
}

h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  font-weight: bold;
  font-size: 100px;
  color: khaki;
  text-align: center;
}

#brushes h2{
  background-color: mediumspringgreen;
}

#frames h2{
  background-color: lightcoral;
}

#paint h2{
  background-color: skyblue;
}

p .price {
  color: blue;
  font-weight: bold
}
